<div class="container">
  <h1>Editing Word List <%= @word_list %></h1>

  <%= link_to 'Add new word', new_word_list_word_path(@word_list), class: 'btn btn-primary', style: 'color:white' %>

  <table class="table table-striped table-sm" style="width:250px">
    <thead>
    <tr>
      <th>Word</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word %></td>
        <td><%= link_to 'Remove', word_list_word_path(@word_list, word), method: :delete %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to 'Back', word_lists_path %>
</div>

