<h1>New Prompt</h1>


<%= form_tag(prompts_path, multipart: true, class: "") do %>
  <div class="field">
    <%= label_tag :type %>
    <%= select_tag "type", options_for_select({"Story (pooping.today)" => "today",  "News (pooping.news) "=> "news" }, @type) %>
  </div>

  <div class="field">
    <%= label_tag "Prompt" %>
    <%= text_field_tag "prompt", "", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= submit_tag("Create", class: 'btn btn-primary') %>
  </div>
<% end %>

<%= link_to 'Back', prompts_path %>
