<h1>New Room</h1>

<%= form_tag(rooms_path, multipart: true) do %>
  <div class="field">
    <%= label_tag :name %>
    <%= text_field_tag "room[id]", @room.id %>
  </div>

  <div class="field">
    <%= label_tag :passphrase %>
    <%= text_field_tag "room[passphrase]", @room.passphrase %>
  </div>
  <p>WARNING: This is NOT a secure password - do not re-use a password.  It is suggested to use a phrase or sentence.</p>

  <div class="actions">
    <%= submit_tag("Submit") %>
  </div>
<% end %>